[Unit]
Description=Button Machine Service
After=multi-user.target

[Service]
User=pi
Group=pi
Type=idle
WorkingDirectory=/home/pi/thingiecounter/pi
ExecStart=/usr/bin/python /home/pi/thingiecounter/pi/button_machine.py
Restart=always

[Install]
WantedBy=multi-user.target
# vim: set filetype=systemd
