# the url running ThingieCounter
URL = "{{ url }}"

# auth header name
AUTH_HDR = "{{ auth_header }}"
# auth header sekrit -- change this or everyone will laugh at you
AUTH_SEKRIT = "{{ auth_secret }}"

# PIN   -- the RPi pin a button is conntected too
# LABEL -- the string ThingieCounter counts
BTNS = [{'PIN': 15, 'LABEL': 'happy'},
        {'PIN': 18, 'LABEL': 'meh'},
        {'PIN': 23, 'LABEL': 'sad'}]
# vim: filetype=python
